# See http://help.github.com/ignore-files/ for more about ignoring files.

front-desafiofullstack/dist
front-desafiofullstack/tmp
front-desafiofullstack/out-tsc
front-desafiofullstack/bazel-out
front-desafiofullstack/node_modules
front-desafiofullstack/npm-debug.log
front-desafiofullstack/yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
front-desafiofullstack/.angular/cache
front-desafiofullstack/.sass-cache/
front-desafiofullstack/connect.lock
front-desafiofullstack/coverage
front-desafiofullstack/libpeerconnection.log
testem.log
front-desafiofullstack/typings
.DS_Store
Thumbs.db
HELP.md
target/
back-end/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
back-end/backend.iml

