<button type="button" class="btn btn-primary" [routerLink]="['empresa-cadastro']" style="margin-top: 10px">Nova Empresa</button>
<table class="table" style="margin-top: 10px">
  <thead class="thead-dark">
  <tr>
    <th *ngFor="let c of cabecalho" scope="col">{{c}}</th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let empresa of empresas">
    <td>{{ empresa.nomeFantasia }}</td>
    <td>{{ empresa.cnpj }}</td>
    <td>{{ empresa.cep }}</td>
    <td>
      <button type="button" class="btn btn-outline-dark" (click)="editar(empresa.id)">Editar</button>
      <button type="button" class="btn btn-outline-danger" (click)="deletar(empresa.id)" style="margin-left: 5px">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
