<form style="margin: 10px">
  <div class="form-group" >
    <label class="control-label col-md-2" *ngFor="let radio of radios">
      <input type="radio" [(ngModel)]="model" [name]="radio.name" [value]="radio.value" required>
      {{ radio.label }}
    </label>
  </div>
  <div class="form-row">
    <div class="col-4">
      <label for="nome">Nome</label>
      <input [(ngModel)]="fornecedor.nome" type="text" class="form-control" id="nome" name="nome"
             placeholder="Nome">
    </div>
    <div class="col-4" [hidden]="!model">
      <label for="cnpj">CNPJ</label>
      <input [(ngModel)]="fornecedor.cnpj" maxlength="14" type="text" class="form-control" id="cnpj" name="cnpj" placeholder="CNPJ">
    </div>
    <div class="col-4" [hidden]="model">
      <label for="cpf">CPF</label>
      <input [(ngModel)]="fornecedor.cpf" maxlength="11" type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF">
    </div>
    <div class="col-4">
      <label for="cep">CEP</label>
      <input [(ngModel)]="fornecedor.cep" maxlength="8" type="text" class="form-control" id="cep" name="cep" placeholder="CEP">
    </div>
    <div class="col-4" [ngClass]="{'col-8':model}">
      <label for="cep">E-mail</label>
      <input [(ngModel)]="fornecedor.email" type="text" class="form-control" id="email" name="email" placeholder="E-mail">
    </div>
    <div class="col-4" [hidden]="model">
      <label for="rg">RG</label>
      <input [(ngModel)]="fornecedor.rg" maxlength="12" type="text" class="form-control" id="rg" name="rg" placeholder="RG">
    </div>
    <div class="col-4" [hidden]="model">
      <label for="cnpj">Data Nascimento</label>
      <input [(ngModel)]="fornecedor.dataNascimento" type="date" class="form-control" id="dataNasc" name="dataNasc" placeholder="Data Nascimento">
    </div>
  </div>

  <div class="mt-2">
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
    <button type="button" class="btn btn-danger" [routerLink]="['/fornecedor']" style="margin-left: 5px">Cancelar</button>
  </div>

</form>
