<form style="margin: 10px">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nomeFantasia">Nome Fantasia</label>
      <input [(ngModel)]="empresa.nomeFantasia" type="text" class="form-control" id="nomeFantasia" name="nomeFantasia" placeholder="Nome Fantasia">
    </div>
    <div class="form-group col-md-6">
      <label for="cnpj">CNPJ</label>
      <input [(ngModel)]="empresa.cnpj" type="text" class="form-control" id="cnpj" name="cnpj" placeholder="CNPJ">
    </div>
    <div class="form-group col-md-6">
      <label for="cnpj">CEP</label>
      <input [(ngModel)]="empresa.cep" type="text" class="form-control" id="cep" name="cep" placeholder="CEP">
    </div>
    <div class="form-group col-md-6">
      <label for="fornededores">Fornededores</label>
      <select id="fornededores" class="form-control">
        <option selected>Escolha...</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  <button type="button" class="btn btn-danger" style="margin-left: 5px">Cancelar</button>

</form>
